
@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeueLTStd-Bd.otf')  format('opentype'),
	     url('fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Bd.ttf')  format('truetype'), url('fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeueLTStd-BdCn.otf')  format('opentype'),
	     url('fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'), url('fonts/HelveticaNeueLTStd-BdCn.ttf')  format('truetype'), url('fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeueLTStd-Lt.otf')  format('opentype'),
	     url('fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Lt.ttf')  format('truetype'), url('fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeueLTStd-LtCn.otf')  format('opentype'),
	     url('fonts/HelveticaNeueLTStd-LtCn.woff') format('woff'), url('fonts/HelveticaNeueLTStd-LtCn.ttf')  format('truetype'), url('fonts/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeueLTStd-LtIt.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeueLTStd-LtIt.otf')  format('opentype'),
	     url('fonts/HelveticaNeueLTStd-LtIt.woff') format('woff'), url('fonts/HelveticaNeueLTStd-LtIt.ttf')  format('truetype'), url('fonts/HelveticaNeueLTStd-LtIt.svg#HelveticaNeueLTStd-LtIt') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeueLTStd-Md.otf')  format('opentype'),
	     url('fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Md.ttf')  format('truetype'), url('fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeueLTStd-MdIt.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeueLTStd-MdIt.otf')  format('opentype'),
	     url('fonts/HelveticaNeueLTStd-MdIt.woff') format('woff'), url('fonts/HelveticaNeueLTStd-MdIt.ttf')  format('truetype'), url('fonts/HelveticaNeueLTStd-MdIt.svg#HelveticaNeueLTStd-MdIt') format('svg');
  font-weight: 500;
  font-style: italic;
}
