@import "sanitize"
@import "helpers"
@import "fonts"

$pcols = 10
$gutter = 28px
$container = 1200px

.container
  margin: 0 auto
.container-large
  width: 100%
.container-medium
  width: $container*0.80
.container-small
  width: $container*0.70
.row
  clear: both
  margin-bottom: 1em
.col
  float: left
  padding: 0 ($gutter/2)
  box-sizing: border-box
for pcol in 1..$pcols
  .into-{pcol}
    width: ( 100% / pcol )

// VARIABLES

$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)

$font-size-small = 16px
$font-size-basic = 21px
$font-size-medium = 30px
$font-size-header = 36px
$font-leading-basic = 1.35em
$font-tracking-basic = 0.001em

$font-helvetica = 'HelveticaNeue',helvetica,arial,sans-serif

$color-black-soft = rgb(14,14,14)
$color-white-soft = rgb(255,255,255)

// TYPOGRAPHY

body
  font-family: $font-helvetica
  font-style: normal
  font-weight: 300
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic

h1
  font-family: $font-helvetica
  font-style: normal
  font-weight: 700
  font-size: $font-size-header
  line-height: $font-leading-basic

h2
  font-family: $font-helvetica
  font-style: normal
  font-weight: 700
  font-size: $font-size-medium
  line-height: $font-leading-basic

h3
  font-family: $font-helvetica
  font-style: normal
  font-weight: 600
  font-size: $font-size-basic

p
  font-family: $font-helvetica
  font-style: normal
  font-weight: 300
  margin-bottom: 1em

em
  font-family: $font-helvetica
  font-style: italic
  font-weight: 300
  
strong
  font-family: $font-helvetica
  font-style: normal
  font-weight: 500

strong em, em strong
  font-family: $font-helvetica
  font-style: italic
  font-weight: 500

.date
  font-family: $font-helvetica
  font-style: normal
  font-weight: 200
  font-size: $font-size-small

.u-bold-cn
  font-style: normal
  font-weight: 600
  

//FORM

input
  min-height: 0
  width: 80px
  transition: width 1s
  &:focus
    outline: none
    width: 200px
    
::-webkit-input-placeholder 
  color: inherit
  font-style: inherit
  font-weight: inherit

:-moz-placeholder 
  color: inherit
  font-style: inherit
  font-weight: inherit

::-moz-placeholder 
  color: inherit
  font-style: inherit
  font-weight: inherit

:-ms-input-placeholder 
  color: inherit
  font-style: inherit
  font-weight: inherit




// LINKS

a,a:active,a:visited
  color:inherit


// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  width: 100%
  height: auto


//the 100% widths are just so stylus can compile delete as desired

// HEADER

#header
  width: 100%
  margin: $margin-small 0

.logo
  display: inline-block
  height: $margin-large
  float: left
  svg
    height: 100%

.main-menu
  display: inline-block
  float: right
  font-size: $font-size-basic
  text-align: right
  text-transform: uppercase
  li
    display: inline-block
    margin: 0 ( $margin-small / 2 )
    

// POSTS LOOP
#posts
  width: 100%

article
  margin: 0 0 $margin-large
  
h1.article-title
  margin-bottom: .5em

.type-post
  h2
    margin-bottom: .5em

.post
  width: 100%

.single-post-details
  padding-left: $margin-basic

.type-post-content
  p
    width: ( $container * 0.70 )
    margin: 0 auto 1em
    padding: 0 ( $gutter / 2 )
  img
    margin: 0 auto 1em

.gallery-item
  margin-bottom: $margin-large

.wp-caption-text
  text-align: center
  margin-top: 0.5em
  display: block
  
.credits
  margin-bottom: 2em
  list-style: none
  a 
    text-decoration: underline
  
.post-tags
  a 
    text-decoration: underline
    margin-left: 0.5em

.post-share
  a
    margin-left: 0.5em

#pagination
  width: 100%
  margin-bottom: $margin-basic
  svg
    width: ( $margin-basic * 2 )
    
.archive-entry-img
  margin-bottom: 0.5em
  


// FOOTER

#footer
  font-size: $font-size-basic
  padding: $margin-small 0
  border-top: 2px solid $color-black-soft
  .row
    margin-bottom: 0
  p
    margin-bottom: 0
    
.address
  font-style: normal
  font-weight: 700

.footer-social
  text-align: right
  font-size: $font-size-medium

/*
// MEDIA QUERIES

@media screen and (min-width: 1700px)
  $cols = 12
  $col = 104px
  $gutter = 32px
  .container
    width: ($col * $cols)+($gutter * $cols)
  .col
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)
  for col in 1..$cols
    .col{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

  // VARIABLES

  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)

  $font-size-small = 21px
  $font-size-basic = 24px
  $font-size-medium = 28px
  $font-size-header = 36px

  body
    font-size: $font-size-basic

  // HEADER
  #header
    padding: $margin-small
    font-size: $font-size-basic

  .main-menu
    li
      margin: 0 $margin-small

@media screen and (max-width: ($col * $cols)+($gutter * $cols))
  html
    width: 100%
    */
