@import "sanitize"
@import "helpers"
@import "fonts"

$pcols = 10
$gutter = 28px
$container = 1200px

.container
  margin: 0 auto
.container-large
  width: 100%
.container-medium
  width: $container*0.80
.container-small
  width: $container*0.70
.row
  clear: both
  margin-bottom: 1em
.col
  float: left
  padding: 0 ($gutter/2)
  box-sizing: border-box
for pcol in 1..$pcols
  .into-{pcol}
    width: ( 100% / pcol )

// VARIABLES

$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)

$font-size-small = 16px
$font-size-basic = 21px
$font-size-medium = 30px
$font-size-header = 36px
$font-leading-basic = 1.35em
$font-tracking-basic = 0.001em

$font-helvetica = 'HelveticaNeue',helvetica,arial,sans-serif

$color-black-soft = rgb(14,14,14)
$color-white-soft = rgb(255,255,255)

// TYPOGRAPHY

body
  font-family: $font-helvetica
  font-style: normal
  font-weight: 300
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic

h1
  font-family: $font-helvetica
  font-style: normal
  font-weight: 700
  font-size: $font-size-header
  line-height: $font-leading-basic

h2
  font-family: $font-helvetica
  font-style: normal
  font-weight: 700
  font-size: $font-size-medium
  line-height: $font-leading-basic
  word-wrap: break-word

h3
  font-family: $font-helvetica
  font-style: normal
  font-weight: 600
  font-size: $font-size-basic

p
  font-family: $font-helvetica
  font-style: normal
  font-weight: 300
  margin-bottom: 1em

em
  font-family: $font-helvetica
  font-style: italic
  font-weight: 300

strong
  font-family: $font-helvetica
  font-style: normal
  font-weight: 500

strong em, em strong
  font-family: $font-helvetica
  font-style: italic
  font-weight: 500

.date
  font-family: $font-helvetica
  font-style: normal
  font-weight: 200
  font-size: $font-size-small

.u-bold-cn
  font-style: normal
  font-weight: 600
  
hr 
  border-width: 1px 


//FORM

form
  position: relative

input
  min-height: 0

.expand
  display: inline-block
  position: relative
  input
    width: 80px
    transition: width 1s
    &:focus
      outline: none
      width: 200px

.zigzag
  stroke-width: 1.8
  &.small-stroke
    stroke-width: 1.3

::-webkit-input-placeholder
  color: inherit
  font-style: inherit
  font-weight: inherit

:-moz-placeholder
  color: inherit
  font-style: inherit
  font-weight: inherit

::-moz-placeholder
  color: inherit
  font-style: inherit
  font-weight: inherit

:-ms-input-placeholder
  color: inherit
  font-style: inherit
  font-weight: inherit




// LINKS

a,a:active,a:visited
  color:inherit


// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto

svg.underline
  width: 100%
  position: absolute
  left: 0
  bottom: -10px


//the 100% widths are just so stylus can compile delete as desired

// HEADER

#header
  width: 100%
  margin: $margin-small 0

#logo
  display: inline-block
  height: $margin-large
  float: left

.main-menu
  display: inline-block
  float: right
  font-size: $font-size-basic
  text-align: right
  text-transform: uppercase
  visibility: hidden

.menu-item
  display: inline-block
  position: relative
  margin: 0 ( $margin-small / 2 )

$color-pink = rgb(255,151,53)
$color-blue = rgb(51, 152, 255)
$color-yellow = rgb(255,255,51)

.blinky
  &:hover
    color: $color-blue
    animation: blinky 300ms infinite linear

@keyframes blinky {
  0% { color: $color-pink; }
  33% { color: $color-blue; }
  66% { color: $color-yellow; }
}

.flip
  animation: flip 400ms infinite linear
  transform-style: preserve-3d

@keyframes flip {
  0% { transform: rotateX(0deg); }
  100% { transform: rotateX(360deg); }
}



// POSTS LOOP
#posts
  width: 100%

article
  margin: 0 0 $margin-large
  &.archive-entry
    margin-bottom: $margin-basic

.product-thumb
  width: auto
  max-width: 800px
  max-height: 485px

h1.article-title
  margin-bottom: .5em

.type-post
  h2
    margin-bottom: .5em

.post
  width: 100%

.single-post-details
  padding-left: $margin-basic

.type-post-content
  p
    width: ( $container * 0.70 )
    margin: 0 auto 1em
    padding: 0 ( $gutter / 2 )
  img
    margin: 0 auto 1em
    display: block
  a
    text-decoration: underline

.video-wrapper
  position: relative
  padding-bottom: 56.25% /* 16:9 */
  padding-top: 25px
  height: 0
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.gallery-item
  margin-bottom: $margin-large

.wp-caption-text
  text-align: center
  margin-top: 0.5em
  display: block

.credits
  margin-bottom: 2em
  list-style: none
  a
    text-decoration: underline

.post-tags
  a
    text-decoration: underline
    margin-left: 0.5em

.post-share
  a
    margin-left: 0.5em

#pagination
  width: 100%
  margin-bottom: $margin-basic
  svg
    width: ( $margin-basic * 2 )

.archive-entry-img
  margin-bottom: 0.5em



// FOOTER

#footer
  font-size: $font-size-basic
  padding: $margin-small 0
  border-top: 2px solid $color-black-soft
  .row
    margin-bottom: 0
  p
    margin-bottom: 0

.address
  font-style: normal
  font-weight: 700

.footer-social
  text-align: right
  font-size: $font-size-medium

input.email
  font-weight: 300
  font-style: normal

.contact-email
  margin-bottom: 1em
  display: block


// MEDIA QUERIES

@media screen and (max-width: $container)
  $gutter = 28px
  $container = 900px

  .container-medium
    width: $container*.9
  .container-small
    width: $container*.8
  .col
    padding: 0 ($gutter/2)

  // HEADER

  #header
    margin: $margin-small 0

  #logo
    height: $margin-large

  .main-menu
    font-size: $font-size-basic

  .menu-item
    margin: 0 ( $margin-small / 2 )

  // POSTS LOOP

  article
    margin: 0 0 $margin-large

  .product-thumb
    width: 100%

  .single-post-details
    padding-left: $margin-basic

  .type-post-content
    p
      width: ( $container * 0.80 )
      padding: 0 ( $gutter / 2 )

  .gallery-item
    margin-bottom: $margin-large

  #pagination
    margin-bottom: $margin-basic
    svg
      width: ( $margin-basic * 2 )

  // FOOTER

  #footer
    font-size: $font-size-basic
    padding: $margin-small 0

  .footer-social
    font-size: $font-size-medium

@media screen and (max-width: 900px)
  $gutter = 21px
  $container = 100%

  .container-medium
    width: $container*.9
  .container-small
    width: $container*.9
  .col
    padding: 0 ($gutter/2)

  // VARIABLES

  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)

  $font-size-small = 14px
  $font-size-basic = 16px
  $font-size-medium = 24px
  $font-size-header = 30px

  // TYPOGRAPHY

  body
    font-size: $font-size-basic
  h1
    font-size: $font-size-header
  h2
    font-size: $font-size-medium
  h3
    font-size: $font-size-basic
  .date
    font-size: $font-size-small

  // HEADER

  #header
    margin: $margin-small 0

  #logo
    height: $margin-large

  .main-menu
    font-size: $font-size-basic

  .menu-item
    margin: 0 ( $margin-small / 2 ) $margin-small
    display: block
    text-align: right


  // POSTS LOOP

  article
    margin: 0 0 $margin-large

  .single-post-details
    padding-left: 0

  .type-post-content
    p
      width: 100%
      padding: 0

  .gallery-item
    margin-bottom: $margin-large

  #pagination
    margin-bottom: $margin-basic
    svg
      width: ( $margin-basic * 2 )

  // FOOTER

  #footer
    font-size: $font-size-basic
    padding: $margin-small 0

  .footer-social
    font-size: $font-size-medium

@media screen and (max-width: 700px)
  $gutter = 18px

  .col
    padding: 0 ($gutter/2)

  // VARIABLES

  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)

  $font-size-small = 14px
  $font-size-basic = 16px
  $font-size-medium = 18px
  $font-size-header = 21px

  // TYPOGRAPHY

  body
    font-size: $font-size-basic
  h1
    font-size: $font-size-header
  h2
    font-size: $font-size-medium
  h3
    font-size: $font-size-basic
  .date
    font-size: $font-size-small

  // HEADER

  #header
    margin: $margin-small 0

  #logo
    height: $margin-large

  .main-menu
    font-size: $font-size-basic

  .menu-item
    margin: 0 ( $margin-small / 2 ) $margin-small
    display: block
    text-align: right

  // POSTS LOOP

  article
    margin: 0 0 $margin-basic

  .gallery-item
    margin-bottom: $margin-large

  #pagination
    margin-bottom: $margin-basic
    svg
      width: ( $margin-basic * 2 )

  // FOOTER

  #footer
    font-size: $font-size-basic
    padding: $margin-small 0

  .col
    margin-bottom: 1em

  .footer-social
    font-size: $font-size-medium

@media screen and (max-width: 500px)
  $gutter = 18px
  $container = 100%

  .container-medium
    width: $container
  .container-small
    width: $container
  .col
    padding: 0 ($gutter/2)
  for pcol in 1..$pcols
    .into-{pcol}
      width: 100%

  // VARIABLES

  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)

  $font-size-small = 12px
  $font-size-basic = 14px
  $font-size-medium = 16px
  $font-size-header = 18px

  // TYPOGRAPHY

  body
    font-size: $font-size-basic
  h1
    font-size: $font-size-header
  h2
    font-size: $font-size-medium
  h3
    font-size: $font-size-basic
  .date
    font-size: $font-size-small

  //FORM

  .expand
    input
      width: 50px
      &:focus
        width: 100px

  // HEADER

  #header
    margin: $margin-small 0
    .into-2
      width: 50%

  #logo
    height: $margin-large

  .main-menu
    font-size: $font-size-basic

  .menu-item
    margin: 0 ( $margin-small / 2 ) $margin-small
    display: block
    text-align: right

  // POSTS LOOP

  article
    margin: 0 0 $margin-basic

  .gallery-item
    margin-bottom: $margin-large
    padding: 0 ($gutter/2) !important

  #pagination
    margin-bottom: $margin-basic
    svg
      width: ( $margin-basic * 2 )

  // FOOTER

  #footer
    font-size: $font-size-basic
    padding: $margin-small 0

  .col
    margin-bottom: 1em

  .footer-social
    font-size: $font-size-medium

